/WebApp/.ubuntu-sdk-deploy/README
/WebApp/.ubuntu-sdk-deploy/WebApp.apparmor
/WebApp/.ubuntu-sdk-deploy/WebApp.desktop
/WebApp/.ubuntu-sdk-deploy/WebApp.png
/WebApp/.ubuntu-sdk-deploy/curso.ubuntu.touch.mimecar_0.1_all.click
/WebApp/.ubuntu-sdk-deploy/manifest.json
